<h1>Made it to Index for Posts</h1>


<%= form_for(@post) do |f| %>
  <%= f.text_area :title, placeholder: "Title of Post" %>
  <%= f.text_area :content, placeholder: "Content for Post" %>
  <p><%= f.submit %></p>
  <% end %>
  
  <h3>All Posts</h3>
    <% @posts.each do |post| %>
      <p><%= post.title %></p>
      <p><%= post.content %></p>
    <% end %>
